.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: $headerBackgroundColor;
  color: $headerFontColor;
  height: 80px;
  box-sizing: border-box;
 
  &__content {
    display: grid;
    grid-template-columns: auto auto 1fr;
  }
  & a:hover {
color: $mainBorderColor;
  }
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  & h1 {
    @extend %headerLogo;
  
  }
  &__bamboo{
position: absolute;
left: 12px;
bottom: 25px;

  }
}

.nav {
  display: flex;
  gap: 58px;

  justify-content: space-between;
  padding: 29px 0px 29px 65px;
  @media screen and (max-width: $brakePoint1300) {
    gap: 47px;
  }
  & li {
    @extend %headerLink;
  }
}
.header__designer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & a {
    @extend %headerLink;
  }
}
