.testimonal {
  overflow: hidden;
  padding: 140px 0 180px 0;
  position: relative;
  @media screen and (max-width: $brakePoint1200) {
    padding-top: 100px;
    padding-bottom: 140px;
  }
  &-btn {
    border-radius: 5px;
    margin-top: 11px;
    @media screen and (max-width: $brakePoint1200) {
     margin-top: 30px;
     
    }
  }

  &__leaf {
    position: absolute;
    bottom: -134px;
    right: -8px;
  }
}

.card-item {
  &__owner {
    display: flex;
  }
  &__img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
  }
  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* or 18px */

    /* gray */

    color: #767474;
  }
}

.testimomal__cards {
  margin-top: 47px;
  display: flex;
  gap: 30px;
  @media screen and (max-width: $brakePoint1200) {
    justify-content: center;
    margin-top: 30px;
    & :nth-child(3) {
      display: none;
    }
  }
}

.card-item {
  cursor: pointer;

  background: linear-gradient(#f1f3f2, #f1f3f2) padding-box,
    linear-gradient(90deg, rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66))
      border-box;
  box-sizing: border-box;
  width: 268px;
  height: 391px;
  overflow: hidden;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  padding: 15px 14px 19px 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  &__owner {
    display: flex;
    gap: 10px;
  }

  @media screen and (max-width: $brakePoint1200) {
    width: 293px;
    height: 391px;
   
  }
}

.card-item__user {
  &-name {
    line-height: 120%;
  }
  &-location {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;

    color: #bdbdbd;
  }
}

.scroll {
  cursor: pointer;
  margin: 21px auto;
  width: 599px;
  height: 8px;
  background: #f5f7f6;
  border-radius: 5px;
  border: 1px solid rgba(254, 189, 171, 0.74);
  display: flex;
  place-items: center;
  @media screen and (max-width: $brakePoint1200) {
    width: 395px;
    margin-top: 18px;
   
  }
  &__item {
    width: 115.19px;
    height: 6px;

    background: #fe9013;
    border-radius: 5px;
  }
  &:hover {
    .scroll__item {
      background-color: $buttonsMainColor;
    }
  }
}
