.testimonal {
  display: none;
  overflow: hidden;
  padding: 140px 0 180px 0;
  position: relative;

  @media screen and (max-width: $brakePoint1200) {
    padding-top: 100px;
    padding-bottom: 140px;
  }
  @media screen and (max-width: $brakePoint995) {
    & * {
      box-sizing: border-box;
    }
    padding: 62px 0 40px 0;
  }
  @media screen and (max-width: $brakePoint635) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
  }

  &-btn {
    border-radius: 5px;
    margin-top: 11px;
    @media screen and (max-width: $brakePoint1200) {
      margin-top: 30px;
    }
    @media screen and (max-width: $brakePoint995) {
      width: 240px;
      display: block;
      margin: 40px auto;
    }
    @media screen and (max-width: $brakePoint635) {
      margin: 30px auto;
    }
  }

  &__leaf {
    position: absolute;
    bottom: -134px;
    right: -8px;
    @media screen and (max-width: $brakePoint1200) {
      height: 319px;
      width: 196px;
      bottom: -81px;
      right: 5px;
    }
    @media screen and (max-width: $brakePoint995) {
      height: 208px;
      width: 128px;
      bottom: -73px;
      right: -8px;
    }
    @media screen and (max-width: $brakePoint635) {
      width: 70px;
      height: 100px;
      bottom: -33px;
      right: 0;
    }
  }
}

.card-item {
  &__owner {
    display: flex;
  }
  &__img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
  }
  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    @media screen and (max-width: $brakePoint995) {
      font-size: 1.5em;
    }
  }
}

.testimomal__cards {
  margin-top: 47px;
  display: flex;
  gap: 30px;
  @media screen and (max-width: $brakePoint1200) {
    justify-content: center;
    margin-top: 30px;
    & :nth-child(3) {
      display: none;
    }
  }

  @media screen and (max-width: $brakePoint995) {
    flex-direction: column;
    gap: 15px;
    & :nth-child(4) {
      background-color: #fe9013;
      //  display: none;
    }
    //   & :nth-child(3) {
    //     background-color: #fe9013;
    //   //  display: flex;
    //   }
  }
  @media screen and (max-width: $brakePoint995) {
    margin-top: 29px;
  }
  @media screen and (max-width: $brakePoint635) {
    margin-top: 20px;
  }
}

.card-item {
  cursor: pointer;

  background: linear-gradient(#f1f3f2, #f1f3f2) padding-box,
    linear-gradient(90deg, rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66))
      border-box;
  box-sizing: border-box;
  width: 268px;
  height: 391px;
  overflow: hidden;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  padding: 15px 14px 19px 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  &__owner {
    display: flex;
    gap: 10px;
    @media screen and (max-width: $brakePoint995) {
      font-size: 1.6em;
    }
  }

  @media screen and (max-width: $brakePoint1200) {
    width: 293px;
    height: 391px;
  }
  @media screen and (max-width: $brakePoint995) {
    width: 100%;
    height: 109px;
    padding: 15px 10px 15px 10px;
  }
  @media screen and (max-width: $brakePoint635) {
    padding: 9px 10px 15px 8px;
  }
}

.card-item__user {
  &-name {
    line-height: 120%;
  }
  &-location {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;

    color: #bdbdbd;
  }
}

.scroll {
  cursor: pointer;
  margin: 21px auto;
  width: 599px;
  height: 8px;
  background: #f5f7f6;
  border-radius: 5px;
  border: 1px solid rgba(254, 189, 171, 0.74);
  display: flex;
  place-items: center;
  @media screen and (max-width: $brakePoint1200) {
    width: 395px;
    margin-top: 18px;
  }
  @media screen and (max-width: 700px) {
    display: none;
  }
  &__item {
    width: 115.19px;
    height: 6px;

    background: #fe9013;
    border-radius: 5px;
    @media screen and (max-width: $brakePoint1200) {
      width: 70px;
    }
  }
  &:hover {
    .scroll__item {
      background-color: $buttonsMainColor;
    }
  }
}
