$buttonYellowCollor:#F1A501;
$buttonRedColor:#DF6951;

$buttonSubmit:linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
$buttonIris:#5a4fcf;
////font color
$collor-h1:#14183E;
$color-header-nav:#212832;
$color-small:#5E6282;
$color-contact:#5E6282;
$color-dot:#39425D;
//////
/// 
/// 
/// Contacts
$color-contact-container:#DFD7F9;


$content-width:1160px;
$tablet--width:768px;
$mobile-big-width:414;
$mobile-smile:320;

.hide{
    display: none !important;
  }
  
  .show{
    display: block;
  }